.author-bio {
    line-height: 1.8;
    text-align: justify;
    font-size: 1.1rem;
    color: black;
    margin-top: 20px;
    font-family: 'Segoe UI';
    letter-spacing: 0.2px;
}

.author-image {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.carousel-item img {
        height: 400px;
        object-fit: cover;
        width: 100%;
    }

