{% extends "base.html" %}
{% block title%}  About Us {% endblock %}


{% block container %}
<main class="container-md mt-4">
<h6>ჩვენი წიგნის მაღაზია არის მეგობრული და შთამაგონებელი სივრცე ყველასთვის, ვისაც უყვარს კითხვა, ცოდნა და აღმოჩენა. გვჯერა, რომ ყოველი წიგნი ახალი სამყაროს კარს ხსნის, ამიტომ ჩვენი მისიაა კითხვა გავხადოთ ხელმისაწვდომი, საინტერესო და სასიამოვნო ყველა ასაკის მკითხველისთვის.

ჩვენ გთავაზობთ ყურადღებით შერჩეულ მხატვრულ და არამხატვრულ ლიტერატურას, საბავშვო და საგანმანათლებლო წიგნებს, ასევე ადგილობრივი და საერთაშორისო ავტორების ნამუშევრებს. კლასიკიდან თანამედროვე ბესტსელერებამდე, ჩვენ ვანიჭებთ უპირატესობას ხარისხს, მრავალფეროვნებას და შინაარსს.

ჩვენი წიგნის მაღაზია ხელმისაწვდომია როგორც ფიზიკურ სივრცეში, ისე ონლაინ, რაც გაძლევთ შესაძლებლობას ნებისმიერ დროსა და ადგილას შეარჩიოთ და შეუკვეთოთ სასურველი წიგნები. ჩვენთვის ეს მხოლოდ წიგნების გაყიდვა არ არის - ეს არის კულტურული საზოგადოება, რომელიც ხელს უწყობს უწყვეტ განათლებას, კრეატიულობას და კითხვის სიყვარულს.</h6>

<br>

<h6>Our bookstore is a welcoming space for everyone who loves reading, learning, and discovery. We believe that every book opens the door to a new world, which is why our mission is to make books accessible, inspiring, and enjoyable for readers of all ages.

We offer a carefully curated selection of fiction and non-fiction, children’s and educational books, as well as works by local and international authors. From timeless classics to modern bestsellers, we focus on quality, diversity, and meaningful stories.

Our bookstore is available both as a physical and an online space, allowing you to explore and order your favorite books anytime, anywhere. More than just a place to buy books, we aim to create a cultural community that supports lifelong learning, creativity, and a love for literature.</h6>

<div class="container mt-5">
    <hr>
    <h4><b>Contact Us</b></h4>
    <p>Gmail: Spellboundbooks@gmail.com</p>
    <p>Phone:+995 598 77 57 86</p>

    <a href="https://www.tbceducation.ge/" target="_blank">
        <img src="static/images/tbc-logo.png" width="80" alt="tbc-logo">

    </a>
</div>
</main>
{% endblock %}
