{% extends "base.html" %}
{% block title %} Sign Up Page {% endblock %}

{% block container %}
<div class="row mt-2">
    <form class="col-6 offset-3 my-2" method="post">
        {{ form.hidden_tag() }}

        {% for error in form.errors.values() %}
        <div class="alert alert-danger">
            {% for error in errors %}
              * {{ error }} <br>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="row mt-2">
            {{ form.username(class="form-control", placeholder=form.username.label.text ) }}
        </div>
        <div class="row mt-2">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
        </div>

        <div  class="row mt-2">
            {{ form.login(class="btn btn-primary w-100")}}
        </div>
         <div class="row mt-2">
             <p>თუ არ ხართ რეგისტრირებული, გთხოვთ გაიაროთ <a class="btn btn-primary" type="submit" href="/signup"> რეგისტრაცია</a> </p>
        </div>
    </form>
</div>

{% endblock %}

